aiogram==3.17.0
annotated-types==0.7.0
certifi==2024.6.2
chromadb==0.5.15
dataclasses-json==0.6.7
environs==11.0.0
ffmpeg==1.4
grpcio==1.64.1
grpcio-tools==1.64.1
langchain==0.2.16
langchain-community==0.2.5
langchain-core==0.2.43
moviepy==1.0.3
numpy==1.26.4
pdf2image==1.17.0
pdfminer.six==20231228
python-docx==1.1.2
python-dotenv==1.0.1
tiktoken==0.7.0
tokenizers==0.20.1
transformers==4.45.2
curl_cffi==0.7.0
nest_asyncio==1.6.0
InstructorEmbedding==1.0.1
sentence-transformers==3.2.1
pydub==0.25.1
pydantic==2.9.2
pydantic_core==2.23.4
accelerate==1.0.1
einops==0.6.1
torch==2.5.0
APScheduler==3.10.4
Pyrogram==2.0.106
textract==1.6.1
TgCrypto==1.2.5
SQLAlchemy==2.0.28
aiosqlite==0.20.0
alembic==1.8.1
Mako==1.2.4
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-langchain==0.2.1
llama-index-llms-langchain==0.4.2
llama-index==0.11.19
llama-index-vector-stores-chroma==0.2.1
llama-index-core==0.11.19
llama-index-retrievers-bm25==0.4.0
whisperx==3.3.1